

html, body, #root {
  height: 100%;
  background-color: black;

}




.app-title{
  color: white;
background-color: teal;
text-align: center;
}

.targets-container{
  margin: 50px 200px;
  padding:  50px 50px;
background-color: rgb(238, 238, 238);


}

.goals-container{
  margin: 50px 200px;
  padding:  50px 50px;
background-color: rgb(238, 238, 238);
display: grid;
grid-template-columns: repeat(3, auto) ;
grid-column-gap: 50px;
grid-row-gap: 25px;
text-align: center;

}